@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
}
html,body{
  background-color: rgb(255, 255, 255);
  height: 100%;
  margin: 0;
  padding: 0;
}

.user-box{
  color: rgb(0, 0, 0);
}

.header {
  width: 100%;
  height: 80px;
  background-color: rgba(56, 56, 56);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  color: rgba(56, 56, 56);
  position: fixed;
  top: 0;
  z-index: 12;
}

.search-box input {
  outline: none;
  border: none;
  width: 350px;
  height: 30px;
  font-size: 1.2rem;
  padding: 0 1rem;
}
.container{
    background-color: rgb(255, 255, 255);
    display: flex;
    min-height: 100vh;
    padding: 0;

}
.anime-info-column{
  width: 20%;
  min-height: 100vh;
  padding: 0;
  min-height: 100vh;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  left: 0;
}
.anime-row{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    width: 80%;
    min-height: 100vh;
    box-sizing: border-box;
}
.anime-row .text-heading{
    margin-left: 20rem;
    margin-top: 1rem;
}
.card {
  max-width: 100%;
  margin: 10px;
}

.card-column {
    padding: 10px;
    margin-bottom: 60px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
    position: relative;
}
.text-heading-column{
  height: 50px;
  width: 30%;
}
.card-img-top {
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  width: 85%;
  height: 0;
  padding: 1rem;
  background-color: rgb(54, 50, 50);
  text-align: justify;
  opacity: 0;
  transition: 0.5s;
}
.anime-info:hover .overlay{
    opacity: 1;
    height: 90%;
}
.mylist {
  position: absolute;
  bottom: 10px;
  padding: 3%;
  background-color: rgb(122, 121, 121); 
  color: black; 
  border-radius: 20%;
  height: 40px; 
  display: flex;
  cursor: pointer;
  transition: background-color 0.3s; 
}

.mylist:hover {
  background-color: rgb(199, 194, 194); 
}
.Modal {
  max-width: 80%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  } 
  .modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    padding: 20px;
    border-radius: 8px;
    position: relative;
  }
  .modal-body {
    display: flex;
    flex-direction: column; /* Change to column to handle vertical scrolling */
    max-height: 60vh; /* Limit the height to allow for scrolling */
    overflow-y: auto; /* Add vertical scroll bar */
  }
  .modal-image {
    width: 200px;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
  }
  .modal-synopsis {
    flex: 2 1 300px;
    margin-bottom: 20px;
  }
  .modal-close-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #ff5a5a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .modal-close-button:hover {
    background-color: #ff1c1c;
  }
  .Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
  }
  .user-box {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10%;
  }
  
  .login-container {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .login-form {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 50px;
  }
  
  .login-form input {
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
  }
  
  .login-form button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #f5f5f5;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
  }
  
  .login-form button:hover {
    background-color: #9ea09e;
  }

  .register-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
  }
  
  .form-group label {
    margin-bottom: 5px; 
  }
  
  .form-group input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #f5f5f5;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
  }
  
  button:hover {
    background-color: #9ea09e;
  }

  .no-anime-added{
    margin: 1rem 0;
    text-align: center;
    color:#030303
  }

  .title{
    color:#030303
  }

  .minimal-button {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    border: none;
    margin: 5px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.anime-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.anime-details {
    flex: 1;
    cursor: pointer;
}

.error-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.error-modal-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.navbar-toggler {
  border-color: rgba(255, 255, 255, 0.1); 
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

@media (max-width: 767.98px) {
  .navbar-toggler {
    border-color: rgba(255, 255, 255, 0.1); 
  }

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
}

